@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .backgorund-image {
    background-image: url('../public/hero/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(85% 0, 100% 0, 100% 100%, 30% 100%);
  }
}

.text-stroke-white {
  -webkit-text-stroke: 1px white;
}
