@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .backgorund-image {
    background-image: url('../public/hero/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(85% 0, 100% 0, 100% 100%, 30% 100%);
  }
}

.text-stroke-white {
  -webkit-text-stroke: 1px white;
}

.map-container {
  position: relative;
  width: calc(100% - 20rem); /* Adjust the width to accommodate the sidebar */
  height: 100vh; /* Adjust the height as needed */
}